.App {
  text-align: center;
}
.container-shopping{
  display: flex;
  justify-content: end;
}

.button{
  border: none;
  border-radius: 50%;
  background-color: #F85555;
  width: 3rem;
  height: 3rem;
  color: white;
}